<a href="https://colab.research.google.com/github/SomyaH99/python-personal-/blob/main/python_pratice'.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

practise workbook

different data types in python:
1. numeric
2. string
3. boolean
4. datetime

Indentation in Python:
Indentation refers to the spaces at the beginning of a code line.

In [ ]:
# example of indentation
if 5>2:
  print('Five is greater than 2')

Five is greater than 2

Python variable:
Variable are containers for storing data values. A variable is created the moment you first assign a value to it.

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

Python Variables - Assign Multiple Values

Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y,z = 'orange', 'banana', 'cherry'
print(x)
print(y)
print(z)

orange
banana
cherry

One Value to Multiple Variables
* And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a Collection

if you have values in lists, tuples etc python allows you to extract the values into variables. this is called unpackng in python

In [ ]:
fruits= ['apple','banana', 'orage']
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
orage

output variables

In [ ]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables
Variables that are created outside of a function are known as global variables.
Global variables can be used by everyone, both inside of functions and outside.

Strings slicing.

Strings in python are surrounded by either single quotation marks, or double quotation marks.

Slice From the Start

By leaving out the start index, the range will start at the first character:

In [2]:
b = "Hello, World!"
print(b[:5])

Hello

By leaving out the end index, the range will go to the end:

In [3]:
b = "Hello, World!"
print(b[2:])

llo, World!

Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [4]:
b = "Hello, World!"
print(b[-5:-2])

orl

Upper Case

Lower Case

Remove Whitespace

In [5]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [6]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [1]:
a = " Hello, World! "
print(a.strip())

Hello, World!

Remove Whitespace

The strip() method removes any whitespace from the beginning or the end:

In [8]:
a = " Hello,    World! "
print(a.strip())

Hello,    World!

Replace String

The replace() method replaces a string with another string:

In [9]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Split String

The split() method returns a list where the text between the specified separator becomes the list items.

In [10]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [11]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

To add a space between them, add a " ":

In [12]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

String Format

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [18]:
age = 36
text = "my name is somya, and I am {}"
print(text.format(age))

my name is somya, and I am 36

In [19]:
quantity = 3
item = 567
price = 49.95
myorder = "i want {} pieces of item {} for {} dollars."
print(myorder.format(quantity,item,price))

i want 3 pieces of item 567 for 49.95 dollars.